# Flutter related
.dart_tool/
.buildlog/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android related
**/android/.gradle/
**/android/app/build/
**/android/local.properties
**/android/key.properties

# iOS related
**/ios/.generated/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.*

# Web related
**/web/build/

# IDE related
.idea/
.project
.classpath
*.iml

# VS Code related
.vscode/

# Miscellaneous
.DS_Store

# Keystore files
key.properties
**/*.keystore
**/*.jks
